In [1]:
# Ejercicio 1

In [21]:
def csv2sql(x):
    archivo_csv=open(x,'r').read()
    archivo_csv=archivo_csv.split('\n')
   
    encabezado=archivo_csv[0]
    cuerpo=archivo_csv[1:]
    encabezado='(' + encabezado.replace(';',',') + ')'
    
    cuerpo=['("' + y.replace(';','","') + '")' for y in cuerpo]
    cuerpo='    '+',\n    '.join(cuerpo)+';'
    
    with open('ejercicio1.txt','w') as f:
        f.write('INSERT INTO table1 ' + encabezado +' VALUES\n')
        f.write(cuerpo)

In [5]:
%%writefile datos.csv

nombre;pais;telefono
Mcdonald, Bertha V.;Tonga;16590927 3665
Gay, Quynn Y.;Côte D'Ivoire (Ivory Coast);16230713 0019
Hartman, Samson S.;Turkey;16260322 7477
Mckay, Brennan Z.;Åland Islands;16941114 8308
Daugherty, Ann H.;Venezuela;16180422 9555
Justice, George F.;United Arab Emirates;16630629 5806
Bailey, Jacqueline S.;Timor-Leste;16390230 5097
Sears, Sawyer X.;Montserrat;16510427 2249
Townsend, Stephen K.;Pitcairn Islands;16570616 8084
Barrett, Howard L.;Uzbekistan;16000221 2991
Kim, Xanthus P.;New Caledonia;16191009 2806
Hurst, Coby M.;Montenegro;16740102 8910

Writing datos.csv

In [22]:
csv2sql('datos.csv')

In [24]:
!type ejercicio1.txt

INSERT INTO table1(nombre,pais,telefono)VALUES
    ("Mcdonald, Bertha V.","Tonga","16590927 3665"),
    ("Gay, Quynn Y.","CÃ´te D'Ivoire (Ivory Coast)","16230713 0019"),
    ("Hartman, Samson S.","Turkey","16260322 7477"),
    ("Mckay, Brennan Z.","Ã…land Islands","16941114 8308"),
    ("Daugherty, Ann H.","Venezuela","16180422 9555"),
    ("Justice, George F.","United Arab Emirates","16630629 5806"),
    ("Bailey, Jacqueline S.","Timor-Leste","16390230 5097"),
    ("Sears, Sawyer X.","Montserrat","16510427 2249"),
    ("Townsend, Stephen K.","Pitcairn Islands","16570616 8084"),
    ("Barrett, Howard L.","Uzbekistan","16000221 2991"),
    ("Kim, Xanthus P.","New Caledonia","16191009 2806"),
    ("Hurst, Coby M.","Montenegro","16740102 8910");

In [25]:
#Ejercicio 2

In [81]:
def csv2html(infile,outfile):
    archivo_csv=open(infile,'r').read()
    archivo_csv=archivo_csv.split('\n')
    archivo_csv=[x.split(';') for x in archivo_csv] 
    
    encabezado='<table cellpadding="1" cellspacing="1">\n'
    cuerpo=[]
    
    cuerpo.append('<tr>')
    cuerpo.append('    <th>' + archivo_csv[0][0] + '</th>')
    cuerpo.append('    <th>' + archivo_csv[0][1] + '</th>')
    cuerpo.append('    <th>' + archivo_csv[0][2] + '</th>')
    
    for row in archivo_csv[1:]:
        cuerpo.append('<tr>')
        cuerpo.append('    <td>' + row[0] + '</td>')
        cuerpo.append('    <td>' + row[1] + '</td>')
        cuerpo.append('    <td>' + row[2] + '</td>')
        cuerpo.append('</tr>')
    
    cuerpo='\n'.join(cuerpo)
    
    with open(outfile,'w') as f:
        f.write(encabezado + cuerpo + '\n' + '</table>')

In [82]:
csv2html(infile='datos.csv',outfile='ejercicio2.txt')

In [83]:
!type ejercicio2.txt

<table cellpadding="1" cellspacing="1">
<tr>
    <th>nombre</th>
    <th>pais</th>
    <th>telefono</th>
<tr>
    <td>Mcdonald, Bertha V.</td>
    <td>Tonga</td>
    <td>16590927 3665</td>
</tr>
<tr>
    <td>Gay, Quynn Y.</td>
    <td>CÃ´te D'Ivoire (Ivory Coast)</td>
    <td>16230713 0019</td>
</tr>
<tr>
    <td>Hartman, Samson S.</td>
    <td>Turkey</td>
    <td>16260322 7477</td>
</tr>
<tr>
    <td>Mckay, Brennan Z.</td>
    <td>Ã…land Islands</td>
    <td>16941114 8308</td>
</tr>
<tr>
    <td>Daugherty, Ann H.</td>
    <td>Venezuela</td>
    <td>16180422 9555</td>
</tr>
<tr>
    <td>Justice, George F.</td>
    <td>United Arab Emirates</td>
    <td>16630629 5806</td>
</tr>
<tr>
    <td>Bailey, Jacqueline S.</td>
    <td>Timor-Leste</td>
    <td>16390230 5097</td>
</tr>
<tr>
    <td>Sears, Sawyer X.</td>
    <td>Montserrat</td>
    <td>16510427 2249</td>
</tr>
<tr>
    <td>Townsend, Stephen K.</td>
    <td>Pitcairn Islands</td>
    <td>16570616 8084</td>
</tr>
<tr>
    <td>Barrett, Howard L.</td>
    <td>Uzbekistan</td>
    <td>16000221 2991</td>
</tr>
<tr>
    <td>Kim, Xanthus P.</td>
    <td>New Caledonia</td>
    <td>16191009 2806</td>
</tr>
<tr>
    <td>Hurst, Coby M.</td>
    <td>Montenegro</td>
    <td>16740102 8910</td>
</tr>
</table>

In [42]:
#Ejercicio 3

In [55]:
%%writefile datoshtml.html
<table cellpadding="1" cellspacing="1">
<tr>
    <th>nombre</th>
    <th>pais</th>
    <th>telefono</th>
</tr>
<tr>
    <td>Bowman, Baker A.</td>
    <td>Kazakhstan</td>
    <td>16581202 2076</td>
</tr>
<tr>
    <td>Malone, Jermaine G.</td>
    <td>Myanmar</td>
    <td>16370203 0648</td>
</tr>
<tr>
    <td>Mejia, Trevor H.</td>
    <td>Saint Martin</td>
    <td>16900922 1780</td>
</tr>
<tr>
    <td>Jarvis, Christine U.</td>
    <td>Greenland</td>
    <td>16401003 3258</td>
</tr>
<tr>
    <td>Mccullough, Blaze W.</td>
    <td>United Arab Emirates</td>
    <td>16890809 9644</td>
</tr>
</table>

Overwriting datoshtml.html

In [137]:
def html2csv(infile,outfile):
    archivo=open(infile,'r').read()
    archivo=archivo.split('\n')
    archivo=archivo[1:]
    archivo=archivo[:-1]

    archivo=''.join(archivo)
    archivo=archivo.replace('<tr>','')
    archivo=archivo.replace('<th>','')
    archivo=archivo.replace('<td>','')
    archivo=archivo.replace('</th>',',')
    archivo=archivo.replace('</td>',',')
    archivo=archivo.replace(' ','')
    archivo=archivo.replace('\n','')
    archivo=archivo.replace('</tr>','\n')

    archivo=archivo.split('\n')
    archivo=archivo[:-1]

    archivo=[x[:-1] for x in archivo]
    archivo='\n'.join(archivo)

    with open(outfile,'w') as f:
        f.write(archivo)

In [138]:
html2csv(infile="datoshtml.html",outfile='ejercicio3.csv')